body {
    height: 100vh;
    max-width: 100%;
    background-image: url(./media/bobbackground.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.helasektionen {
    display: flex;
    flex-direction: column;
    margin-top: 5vw;
    background-color: rgba(0, 0, 0, 30%);
    border-radius: 2vw;
}

.firstsection {

    width: 75vw;
    display: flex;
    flex-direction: column;
    border-radius: 2vw;
}

header {
    margin-left: 2vw;
    font-family: "Bungee Shade";
    color: white;
    font-size: 3vw;
    margin-top: -7vw;
}

.navmenu {
    display: flex;
    font-size: 2vw;
    justify-content: center;
    align-items: center;
    height: 4vw;
    gap: 0.5vw;
    margin-top: -2vw;
}

.navmenu div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.6);
    font-size: 1.9vw;
    width: 17vw;
    height: 5vw;
    text-align: center;
    border-radius: 15px;
    font-family: "Barlow Semi Condensed";
}

.navmenu div:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}

.navmenu div:nth-child(2) {
    font-weight: bold;
    border: rgba(255, 255, 255, 80%) solid 0.5px;
    box-shadow: 2px white;
    box-shadow: 0 0 3px 3px white;
}

nav .marked {
    border: rgba(255, 255, 255, 80%) solid 0.5px;
    box-shadow: 2px white;
    box-shadow: 0 0 3px 3px white;
}

nav .marked:hover {
    border: rgba(255, 255, 255, 80%) solid 0.5px;
    box-shadow: 2px white;
    box-shadow: 0 0 3px 3px white;
    background-color: rgba(255, 255, 255, 0.6);
    cursor: default;
    color: black;
}


/* FÖRSTA ALBUMET */

main {
    margin-top: 5vw;
    margin-left: 3vw;
    margin-right: 3vw;
    padding-left: 1vw;
    padding-right: 1vw;
    margin-bottom: 5vw;

}

#catch_a_fire {
    border: solid 1px white;
    color: white;
    padding-left: 1vw;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 0.5fr 0.5fr;
    grid-template-rows: 0.5fr 1fr;
    background-color: rgba(0, 0, 0, 0.6);
}

.catch_a_fire_titles h1 {
    font-family: "Bungee Outline";
    font-size: 2.5vw;
    margin-top: -0.5vw;
    font-weight: lighter;
}

.catch_a_fire_titles h2 {
    font-size: 1.6vw;
    margin-top: -4vw;
    font-weight: bold;
    word-spacing: 0.1vw;
    font-family: "Barlow Semi Condensed"
}

.album_description p {
    font-family: "Barlow Semi Condensed";
    font-size: 0.9vw;
}

.musicians1 {
    margin-top: 3vw;
    font-family: "Barlow Semi Condensed";
    font-size: 0.9vw;
}

.musicians1 ul {
    list-style: none;
    margin-bottom: 3vw;
}

.album_data {
    grid-row: 1;
    grid-column: 1 / 2;
}

.cover {
    margin-right: -5vw;
    margin-top: 1vw;
    justify-self: center;
    grid-column: 2;
    grid-row: 1;
    display: grid;
    align-self: start;
    grid-template-columns: 1fr;
    width: 75%;
    height: 75%;
}

.show_not_hover1 {
    grid-row: 1;
    grid-column: 2;
    width: 100%;
    height: 100%;
    z-index: 1;
    border-radius: 25px;
}

.show_not_hover1:hover {
    opacity: 0%;
    transition-property: opacity;
    transition-duration: 1s;
}

.show_hover1 {
    width: 100%;
    height: 100%;
    grid-row: 1;
    grid-column: 2;
    z-index: 0;
    border-radius: 25px;
}

.show_hover1:hover {
    z-index: 2;
}

.song_list1 {
    display: flex;
    align-self: end;
    justify-content: space-evenly;
    gap: 0.5vw;
    grid-column: 2;
    grid-row: 2;
    justify-self: center;
    margin-right: -5vw;
}

.song_list1 div {
    background-color: green;
    width: 12vw;
    height: 12.2vw;
}

.song_list1 div h2 {
    font-size: 2vw;
    text-align: left;
    margin-left: 2vw;
}

.song_list1 div ul {
    list-style: decimal;
    font-size: 0.9vw;
    display: flex;
    flex-direction: column;
    justify-content: start;
    position: relative;
    right: 0.7vw;
    bottom: 1vw;
}

.song_list1 {
    position: relative;
    top: 22.5vw;
    grid-row: 1;
    height: 22vw;
    width: 25vw;
}

.song_list1 div:nth-child(1) {
    grid-row: 1;
    grid-column: 1;
    border-radius: 0px 0px 0px 25px;
    text-align: left;
}

.song_list1 div:nth-child(2) {
    grid-row: 1;
    grid-column: 2;
    text-align: left;
    border-radius: 0px 0px 25px 0px;
}

.anecdotes1 {
    align-self: end;
    list-style: none;
    grid-row: 2;
    grid-column: 1 / 4;
    display: grid;
    grid-template-columns: 0.5fr 0.5fr 0.5fr;
    grid-template-rows: 1fr 1fr;
    position: relative;
    right: 2vw;
    bottom: 1vw;
    margin: 0;
    padding-left: 1.3vw;
}

.anecdotes1 li:nth-child(2) {
    display: none;
}

.anecdotes1 li:nth-child(4) {
    display: none;
}

.anecdotes1 li:nth-child(5) {
    display: none;
}

.anecdotes1 li {
    font-family: "Barlow Condensed";
    font-size: 1vw;
}

.anecdotes1 li:nth-child(1) {
    box-sizing: border-box;
    padding: 0.8vw;
    display: flex;
    align-items: center;
    justify-content: start;
    text-align: left;
    height: 11.5vw;
    width: 10vw;
    color: white;
    background-color: green;
    align-self: end;
    justify-self: start;
    grid-row: 2;
    grid-column: 1;
    position: relative;
    left: 0.7vw;
    border-radius: 15px 0px 15px 15px;
}

.anecdotes1 li:nth-child(3) {
    grid-column: 2;
    grid-row: 2;
    color: white;
    background-color: green;
    padding: 0.8vw;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24vw;
    height: 11.5vw;
    justify-self: end;
    align-self: end;
    position: relative;
    left: 0.7vw;
    box-sizing: border-box;
    border-radius: 18px 18px 18px 0px;
}

.anecdotes1 li:nth-child(6) {
    display: flex;
    align-items: end;
    justify-content: center;
    text-align: center;
    color: green;
    font-weight: bold;
    text-shadow: 1px 1px blue;
    font-size: 0.9vw;
    width: 9vw;
    height: 11.5vw;
    grid-row: 2;
    grid-column: 3;
    position: relative;
    left: 1vw;
    justify-self: start;
    align-self: end;
    border-radius: 0px 15px 15px 15px;
    background-image: url(./media/chrisblackwell.webp);
    background-position: right;
    background-size: cover;
}

.anecdotes1 li:nth-child(7) {
    grid-row: 2;
    grid-column: 3;
    justify-self: end;
    align-self: end;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: green;
    height: 11.5vw;
    width: 10vw;
    padding: 5.5vw 1vw 5.5vw 1vw;
    box-sizing: border-box;
    border-radius: 15px 15px 0px 15px;
}

/* ANDRA DELEN */

#soul_rebel {
    margin-top: 2vw;
    border: solid 1px white;
    color: white;
    padding-left: 1vw;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 0.5fr 0.5fr;
    grid-template-rows: 0.5fr 1fr;
    background-color: rgba(0, 0, 0, 0.6);
}

.soul_rebel_titles h1 {
    font-family: "Bungee Outline";
    font-size: 2.5vw;
    margin-top: -0.5vw;
    font-weight: lighter;
}

.soul_rebel_titles h2 {
    font-size: 1.6vw;
    margin-top: -4vw;
    font-weight: bold;
    word-spacing: 0.1vw;
    font-family: "Barlow Semi Condensed"
}

.musicians2 {
    font-family: "Barlow Semi Condensed";
    font-size: 0.9vw;
}

.musicians2 ul {
    list-style: none;
    margin-bottom: 3vw;
}

.album_description2 {
    position: relative;
    top: 3vw;
}

.album_description2 p {
    font-family: "Barlow Semi Condensed";
    font-size: 0.9vw;
}

.musicians2 {
    font-family: "Barlow Semi Condensed";
    font-size: 0.9vw;
}

.musicians2 ul {
    list-style: none;
    margin-bottom: 3vw;
}

.album_data2 {
    grid-row: 1;
    grid-column: 1 / 2;
}

.cover2 {
    margin-right: -5vw;
    margin-top: 1vw;
    justify-self: center;
    grid-column: 2;
    grid-row: 1;
    display: grid;
    align-self: start;
    grid-template-columns: 1fr;
    width: 75%;
    height: 75%;
}

.show_not_hover2 {
    grid-row: 1;
    grid-column: 2;
    width: 100%;
    height: 100%;
    z-index: 1;
    border-radius: 25px;
}

.show_not_hover2:hover {
    opacity: 0%;
    transition-property: opacity;
    transition-duration: 1s;
}

.show_hover2 {
    width: 100%;
    height: 100%;
    grid-row: 1;
    grid-column: 2;
    z-index: 0;
    border-radius: 25px;
}

.show_hover2:hover {
    z-index: 2;
}

.song_list2 {
    display: flex;
    align-self: end;
    justify-content: space-evenly;
    gap: 0.5vw;
    grid-column: 2;
    grid-row: 2;
    justify-self: center;
    margin-right: -5vw;
}

.song_list2 ul li:nth-child(7) {
    display: none;
}

.song_list2 div {
    background-color: green;
    width: 12vw;
    height: 12.2vw;
}

.song_list2 div h2 {
    font-size: 2vw;
    text-align: left;
    margin-left: 1.2vw;
}

.song_list2 div ul {
    list-style: decimal;
    font-size: 0.9vw;
    display: flex;
    flex-direction: column;
    justify-content: start;
    position: relative;
    right: 0.7vw;
    bottom: 1vw;
}

.song_list2 {
    position: relative;
    top: 22.5vw;
    grid-row: 1;
    height: 22vw;
    width: 25vw;
}

.song_list2 div:nth-child(1) {
    grid-row: 1;
    grid-column: 1;
    border-radius: 0px 0px 0px 30px;
}

.song_list2 div:nth-child(2) {
    grid-row: 1;
    grid-column: 2;
    border-radius: 0px 0px 30px 0px;
}

.anecdotes2 {
    align-self: end;
    list-style: none;
    grid-row: 2;
    grid-column: 1 / 4;
    display: grid;
    grid-template-columns: 0.5fr 1fr 0.5fr;
    grid-template-rows: 1fr 1fr;
    position: relative;
    right: 2vw;
    bottom: 1vw;
    margin: 0;
    padding-left: 1.3vw;
}

.anecdotes2 li:nth-child(5) {
    display: none;
}

.anecdotes2 li {
    font-family: "Barlow Condensed";
    font-size: 1vw;
}

.anecdotes2 li:nth-child(1) {
    box-sizing: border-box;
    padding: 0.8vw;
    display: flex;
    align-items: center;
    justify-content: start;
    text-align: left;
    height: 11.5vw;
    width: 21vw;
    color: white;
    background-color: green;
    align-self: end;
    justify-self: start;
    grid-row: 2;
    grid-column: 1;
    position: relative;
    left: 0.7vw;
    border-radius: 15px 15px 15px 0px;
}

.anecdotes2 li:nth-child(2) {
    grid-column: 2;
    grid-row: 2;
    color: white;
    background-color: green;
    padding: 0.8vw;
    display: flex;
    align-items: center;
    justify-content: start;
    width: 9vw;
    height: 11.5vw;
    justify-self: start;
    align-self: end;
    position: relative;
    left: 1vw;
    box-sizing: border-box;
    border-radius: 18px 18px 18px 0px;
}

.anecdotes2 li:nth-child(5) {
    display: flex;
    align-items: end;
    justify-content: center;
    text-align: center;
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px blue;
    font-size: 0.9vw;
    width: 24.4vw;
    height: 11.5vw;
    grid-row: 2;
    grid-column: 2;
    position: relative;
    left: 5.5vw;
    justify-self: end;
    align-self: end;
    border-radius: 0px 15px 15px 15px;
    background-image: url(./media/400\ years.jpg);
    background-position: center;
}

.anecdotes2 li:nth-child(6) {
    grid-row: 2;
    grid-column: 3;
    justify-self: end;
    align-self: end;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: green;
    height: 11.5vw;
    width: 8.5vw;
    padding: 5.5vw 1vw 5.5vw 1vw;
    box-sizing: border-box;
    border-radius: 15px 15px 0px 15px;
}

/*Font media query. Texten ska sluta växa från och med 1111px width.
 Mellan 1111px och 900px så ska texten växa och minskas beroende på webbsidans storlek.
  Mindre än 900px så ska texten SLUTA sjunka */

/* @media (min-width: 1111px) {
    header {
        font-size: 35px;
    }


    .navmenu div {
        font-size: 25px;
    }

    .catch_a_fire_titles h1 {
        font-size: 45px;
    }

    .catch_a_fire_titles h2 {
        font-size: 20px;
    }

    .musicians1 {
        font-size: 16px;
    }

    .album_description p {
        font-size: 16px;
    }


    .song_list1 div h2 {
        font-size: 20px;
    }

    .song_list1 div ul {
        font-size: 16px;
    }

    .anecdotes1 li {
        font-size: 16px;
    }
}*/



/* FIXA FÖRSTA MEDIA QUERY PÅ FONTEN. Efter 900px i bredd så ska texten sluta minskas!!! */