body {
    height: 100vh;
    max-width: 100%;
    margin-left: 0;
    background-image: url(./media/bobbackground.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.helasektionen {
    display: flex;
    flex-direction: column;
    margin-top: 5vw;
}

.firstsection {
    background-color: rgba(0, 0, 0, 0.2);
    width: 75vw;
    display: flex;
    flex-direction: column;
    border-radius: 2vw;
}

header {
    margin-left: 2vw;
    font-family: "Bungee Shade";
    color: white;
    font-size: 3vw;
    margin-top: -7vw;
}

.navmenu {
    display: flex;
    font-size: 2vw;
    justify-content: center;
    align-items: center;
    height: 4vw;
    gap: 0.5vw;
    margin-top: -2vw;
}

.navmenu div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.2);
    font-size: 1.9vw;
    width: 17vw;
    height: 5vw;
    text-align: center;
    border-radius: 15px;
    font-family: "Barlow Semi Condensed";
}

.navmenu div:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}

.navmenu div:nth-child(2) {
    font-weight: bold;
    border: rgba(255, 255, 255, 80%) solid 0.5px;
    box-shadow: 2px white;
    box-shadow: 0 0 3px 3px white;
}

nav .marked {
    border: rgba(255, 255, 255, 80%) solid 0.5px;
    box-shadow: 2px white;
    box-shadow: 0 0 3px 3px white;
}

nav .marked:hover {
    border: rgba(255, 255, 255, 80%) solid 0.5px;
    box-shadow: 2px white;
    box-shadow: 0 0 3px 3px white;
    background-color: rgba(255, 255, 255, 0.2);
    cursor: default;
    color: black;
}


/* FÖRST ALBUMET */

main {
    margin-top: 5vw;
    margin-left: 3vw;
    margin-right: 3vw;
    padding-left: 1vw;
    padding-right: 1vw;
}

main article:nth-child(1) {
    border: solid 1px white;
    color: white;
    padding-left: 1vw;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 0.5fr 0.5fr;
    grid-template-rows: 1fr 1fr;
}

.catch_a_fire_titles h1 {
    font-family: "Bungee Outline";
    font-size: 2.5vw;
    margin-top: -0.5vw;
    font-weight: lighter;
}

.catch_a_fire_titles h2 {
    font-size: 1.6vw;
    margin-top: -4vw;
    font-weight: bold;
    word-spacing: 0.1vw;
    font-family: "Barlow Semi Condensed"
}

.album_description p {
    font-family: "Barlow Semi Condensed";
    font-size: 0.9vw;
}

.musicians1 {
    font-family: "Barlow Semi Condensed";
    font-size: 0.9vw;
}

.musicians1 ul {
    list-style: none;
    margin-bottom: 3vw;
}

.album_data {
    grid-row: 1;
    grid-column: 1 / 2;
}

.cover {
    margin-top: 1vw;
    justify-self: center;
    grid-column: 2;
    display: grid;
    grid-template-columns: 1fr;
    width: 90%;
    height: 90%;
}

.show_not_hover {
    grid-row: 1;
    grid-column: 2;
    width: 100%;
    height: 100%;
    z-index: 1;
    border-radius: 25px;
}

.show_not_hover:hover {
    opacity: 0%;
    transition-property: opacity;
    transition-duration: 1s;
}

.show_hover {
    width: 100%;
    height: 100%;
    grid-row: 1;
    grid-column: 2;
    z-index: 0;
    border-radius: 25px;
}

.show_hover:hover {
    z-index: 2;
}

.song_list div {
    background-color: green;
    width: 12vw;
    height: 10.5vw;
}

.song_list div:nth-child(1) {
    /* FIXA BORDER RADIUS */
}

/* ATT NOTERA: Jag har gjort en Grid som är uppdelad i 2 kolumner som är 1fr var. Placera inom dem!*/