body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    background-image: url(./media/bobbackground.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}


.helasektionen {
    display: flex;
    flex-direction: column;
    margin-top: 5vw;
}

.firstsection {
    background-color: rgba(255, 255, 255, 0.2);
    width: 75vw;
    display: flex;
    flex-direction: column;
}

header {
    margin-left: 2vw;
    font-family: "Bungee Outline";
    color: white;
    font-size: 1.5vw;
}

.navmenu {
    display: flex;
    font-size: 2vw;
    justify-content: space-between;
    align-items: center;
    height: 4vw;
    margin: 0 5vw 0 5vw;
}

.navmenu div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.2);
    font-size: 1.7vw;
    width: 16vw;
    height: 4vw;
    text-align: center;
    border-radius: 15px;
}

.marked {
    font-weight: bold;
    border: rgba(255, 255, 255, 80%) solid 0.5px;
    box-shadow: 2px white;
    box-shadow: 0 0 3px 3px white;
}